 
        body {
            font-family: Arial, sans-serif;
            background: #9fc3e7;
                
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background: rgb(89, 161, 170);
            padding: 25px;
            border-radius: 10px;
            width: 320px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h2 {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 16px;
        }

        

        button {
            padding: 10px;
            width: 100%;
            background: #092aa4;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background: #0056b3;
        }

        .result {
            margin-top: 15px;
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }

        .error {
            color: red;
        }
    